<div id='tv'>
	<div id="emulator"></div>
</div>
<div id="brief">
	<div id="logo">JOYNES</div>
	<div id="disclaimer">
		Runs best on <a href="http://chrome.google.com">Google Chrome</a>, works with 
		<a href="http://apple.com/safari">Safari</a>.
	</div>
	<a href="http://nodeknockout.com/teams/copypastel" target="nko" title="Help me win Node.js KO!">
		<img style="width: 123px; height: 63px; margin: 0 auto; display: block;" 
				 src="http://nodeknockout.com/images/voteko.png" 
				 alt="Help me win Node.js KO!" />
	</a>
</div>
<a href="http://joyent.com">
	<div id='sponsors'></div>
</a>

