<div id='tv'>
	<div id="emulator"></div>
</div>
<div id="brief">
	<div id="logo">JOYNES</div>
</div>
<a href="http://joyent.com">
	<div id='sponsors'></div>
</a>
<div id='browsers'></div>
<div id='vote'></div>

