<div id="logo"></div>
<div id="emulators">
  <div id="emulator_1" class="emulator" style="float: left;"></div>
  <div id="emulator_2" class="emulator" style="float: right;"></div>
</div>
<div id="console"></div>

