<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/joy.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/joynes.js">
    <script type="text/javascript" src="/js/tools.js">
    <script>
      $(document).ready( function(){
        nes1 = new JSNES({
          'ui': $("#emulator_1").JSNESUI({
            "Homebrew": [["Concentration Room", "/roms/croom.nes"]]
          })
        });

        nes2 = new JSNES({
          'ui': $("#emulator_2").JSNESUI({
            "Homebrew": [["Concentration Room", "/roms/croom.nes"]]
          })
        });

        logger = new Logger('#console');
      });
    </script>
  </head>
  <body>
    <%- body %>
  </body>
</html>

