<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/joy.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/joynes.js"></script>
    <script type="text/javascript" src="/js/tools.js"></script>
    <script>
       $(document).ready( function(){
        masterNes = new JSNES({
          'ui': $("#emulator_1").JSNESUI({
            "Homebrew": [["Concentration Room", "/roms/croom.nes"]]
          })
        });
        
        master = new joynes.Master(masterNes); 

        slaveNes = new JSNES({
          'ui': $("#emulator_2").JSNESUI({
            "Homebrew": [["Concentration Room", "/roms/croom.nes"]]
          })
        });
        
        slave = new joynes.Slave(slaveNes);

        //logger = new Logger('#console');
      });
    </script>
  </head>
  <body>
    <%- body %>
  </body>
</html>

