<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/joy.css" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/dynamicaudio-min.js"></script>
    <script type="text/javascript" src="/js/jquery.dimensions.min.js"></script>
    <script type="text/javascript" src="/js/jsnes.js"></script>
    <script type="text/javascript" src="/js/messages.js"></script>
    <script type="text/javascript" src="/js/joynes.js"></script>
    <script type="text/javascript" src="/js/joynes/base.js"></script>
    <script type="text/javascript" src="/js/joynes/master.js"></script>
    <script type="text/javascript" src="/js/joynes/slave.js"></script>
		<script>
			$(document).ready( function(){
				masterNes = new JSNES({
					'ui': $("#emulator_1").JSNESUI({
						"Homebrew": [["Concentration Room", "/roms/croom.nes"]]
					})
				});
			
				master = new joynes.Master(masterNes); 
				slave = new joynes.Slave();
			
				//logger = new Logger('#console');
			});
			
			// socket.send to send messages to server
		</script>
  </head>
  <body>
    <%- body %>
  </body>
</html>

