<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/joy.css" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/dynamicaudio-min.js"></script>
    <script type="text/javascript" src="/js/jquery.dimensions.min.js"></script>
    <script type="text/javascript" src="/js/jsnes.js"></script>
    <script type="text/javascript" src="/js/messages.js"></script>
    <script type="text/javascript" src="/js/joynes.js"></script>
    <script type="text/javascript" src="/js/joynes/base.js"></script>
    <script type="text/javascript" src="/js/joynes/master.js"></script>
    <script type="text/javascript" src="/js/joynes/slave.js"></script>
  </head>
  <body>
    <%- body %>
		<div id="logo"></div>
		<div id="emulators">
		  <div id="emulator_1" class="emulator" style="float: left;"></div>
		  <div id="emulator_2" class="emulator" style="float: right;"></div>
		</div>
		<div id="console"></div>
  </body>
</html>

