<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/joy.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/joynes.js"></script>
    <script type="text/javascript" src="/js/tools.js"></script>
		<script>
			// Socket init
			this.socket = new WebSocket("ws://"+document.location.host+":8080/");
			socket.onmessage = function(evt){
				console.log(evt.data);
			}

			socket1 = new WebSocket("ws://"+document.location.host+":8080/");
			socket1.onmessage = function(evt){
				console.log(evt.data);
			}

			socket2 = new WebSocket("ws://"+document.location.host+":8080/");
			socket2.onmessage = function(evt){
				console.log(evt.data);
			}
						
			$(document).ready( function(){
				masterNes = new JSNES({
					'ui': $("#emulator_1").JSNESUI({
						"Homebrew": [["Concentration Room", "/roms/croom.nes"]]
					})
				});
			
				master = new joynes.Master(masterNes, socket1); 
			
				slaveNes = new JSNES({
					'ui': $("#emulator_2").JSNESUI({
						"Homebrew": [["Concentration Room", "/roms/croom.nes"]]
					})
				});
			
				slave = new joynes.Slave(slaveNes, socket2);
			
				//logger = new Logger('#console');
			});
			
			// Socket.IO section
			
			socket.onmessage( function(obj){
				console.log(obj.data);
			});
			
			// socket.send to send messages to server
		</script>
  </head>
  <body>
    <%- body %>
  </body>
</html>

