@font-face { font-family: Pretendo; src: url('Pretendo.ttf'); } 

body{
  min-width: 800px;
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: #FF4F4F;
}

a:visited{
  color: #37A3C4;
}

#disclaimer{
  margin: 0 auto;
  font-size: 12px;
  position: relative;
  bottom: 0;
  bottom: 0;
  color: #777;
}

#cpl{
  width: 71px;
  height: 59px;
  background: url(/img/cpl.png);
  position: fixed;
  top: 20px;
  left: 100px;
}

#emulator{
  width: 256px;
  height: 240px;
  position: relative;
  top: 27px;
  left: 87px;
}

#brief{
  position: absolute;
  left: 740px;
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  padding: 10px;
  padding-top: 20px;
  top: 0;
}

#safari{
  width: 75px;
  height: 85px;
  background: url(/img/safari-logo.png);
}

#chrome{
  width: 75px;
  height: 75px;
  background: url(/img/google-chrome-logo.jpg);
}

#logo{
  font-family: Pretendo, sans-serif;
  font-size: 50px;
  color: orange;
  text-align: center;
}

#tv{
  width: 690px;
  height: 461px;
  background: url(/img/static.gif);
  top: 20px;
  z-index: 3;
  margin: 0 auto;
}

#tv img{
  position: relative;
  top: 0;
  left: 0;
}

#emulator{
  position: relative;
  top: -374px;
  left: 162px;
}

#emulators{
  margin: 0 auto;
  width: 650px;
}

.emulator{
  display: inline;
  margin: 10px;
  padding: 10px;
}

#sponsors{
  width: 150px;
  height: 70px;
  background: whitesmoke url(/img/logo_joyent.png);
  position: fixed;
  bottom: 0;
}

#console{
  margin: 0 auto;
  width: 40%;
  height: 200px;
  border: 1px solid #111;
  overflow: auto;
  font-family: monospace;
  display: none;
}
